@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap");

body {
  background-color: var(--primary-color);
  padding-top: 20px;
  font-family: "Outfit", sans-serif;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  width: 25% !important;
}

h1 {
  margin: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 25px;
}

h4 {
  text-align: center;
  margin: 20px;
  font-size: 18px;
}

h5 {
  color: var(--magenta);
  font-size: 18px;
  font-weight: 500;
}

.g-6,
.gy-6 {
  --bs-gutter-y: 7rem;
}

.header {
  display: flex;
  height: 60px;
  align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.header a {
  display: flex;
  justify-content: center;
  width: fit-content !important;
  color: var(--primary-text-color);
}

.left-menu {
  display: flex;
  justify-content: flex-end;
}

.left-menu p {
  margin: 0px 0px 0px 45px;
  position: relative;
}

.header p::before {
  content: "";
  display: block;
  width: 0%;
  height: 10px;
  background-color: var(--header-hover);
  position: absolute;
  top: 50%;
  z-index: -1;
  transition: 300ms;
}

.header p:hover::before {
  width: 100%;
  transition: 300ms;
}

.right-menu {
  display: flex;
  justify-content: flex-start;
}

.right-menu p {
  margin: 0px 0px 0px 45px;
  position: relative;
}

.first-menu {
  margin: 0px !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
  transition: 500ms;
}

.logo img:hover {
  filter: grayscale(100%) brightness(1000%);
  transition: 1200ms;
}

.text-button {
  text-align: right;
  cursor: pointer;
}

.text-button a {
  color: var(--magenta);
  transition: 100ms;
}

.text-button a:hover {
  font-size: 19px;
  font-weight: 600;
  transition: 100ms;
}

.accent-color {
  color: var(--accent-text-color);
}

.accent-size {
  font-size: 75px;
  font-weight: 900;
}

.box {
  background-color: var(--secondary-color);
  /* border: 0.5px solid var(--border-color); */
  border-radius: 30px;
  background-clip: content-box;
  padding: 10px;
}

.big {
  min-height: 276px;
}

.xbig {
  min-height: 360px;
}

.medium {
  min-height: 239px;
}

.small {
  min-height: 79px;
}

.my-picture {
  height: 436px;
  background-image: url(../img/portrait.jpg);
  background-position: center center;
  background-size: cover;
}

.years {
  display: flex;
  align-items: center;
  justify-content: center;
}

.port-thumb {
  display: flex;
  align-items: flex-end;
  height: 230px;
  background-clip: content-box;
  border-radius: 15px;
}

.text-label {
  height: 25%;
  width: 100%;
  background-color: #00000060;
  border-radius: 20px 20px 0px 0px;
  backdrop-filter: blur(16px);
  border-top: 1px solid #ffffff70;
  transition: 200ms;
}

.text-label h2 {
  font-size: 18px;
}

.text-label p {
  font-weight: 200;
  font-size: 15px;
  transition: 200ms;
  display: none;
}

.inner-label-container {
  margin: 20px 10px;
}

.port-thumb:hover .text-label {
  height: 100%;
  border-radius: 10px;
  border-top: 0px;
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.port-thumb:hover .text-label p {
  display: flex;
}

.port-button {
  background-color: var(--magenta);
  height: 35px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 200;
  opacity: 0;
  cursor: pointer;
  transition: 200ms;
}

.port-button:hover {
  box-shadow: 0px 0px 10px 0px var(--magenta);
  transition: 200ms;
  height: 45px;
  width: 115px;
}

.port-thumb:hover .inner-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.port-thumb:hover .port-button {
  opacity: 1;
}

.thumb-1 {
  background-image: url(../img/thumb.jpg);
  background-position: center center;
  background-size: cover;
}

.thumb-2 {
  background-image: url(../img/thumb.jpg);
  background-position: center center;
  background-size: cover;
}

.thumb-3 {
  background-image: url(../img/thumb.jpg);
  background-position: center center;
  background-size: cover;
}

.gallery {
  margin: 0px;
  margin: 0px 20px 0px 20px;
}

.gallery a {
  width: 100%;
  color: var(--primary-text-color);
}

.ciano {
  background-color: var(--ciano);
}

.orange {
  background-color: var(--orange);
}

.magenta {
  background-color: var(--magenta);
}

.inner-container {
  margin: 20px;
}

.name {
  font-size: 31px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.infos {
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.menu {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: flex-end;
}

#result {
  max-width: 100%;
  text-align: right;
  font-size: 16px;
}

.inner-subtitle {
  color: var(--secondary-text-color);
  font-size: 16px;
}

.interest {
  text-align: center;
}

.interest i {
  font-size: 38px;
}

.interest-list {
  margin-top: 50px;
}

.elipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: var(--third-color);
  border-radius: 50%;
  background-clip: content-box;
}

.social-elipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--third-color);
  border-radius: 50%;
  background-clip: content-box;
  cursor: pointer;
  transition: 200ms;
}

.social-elipse.contact {
  width: 50px;
  height: 50px;
}

.social {
  margin: 0px 5px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.social.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  color: var(--secondary-text-color);
}

.social a:hover {
  color: var(--primary-text-color);
}

.linkedin:hover {
  background-color: var(--linkedin);
  font-size: 27px;
  transition: ease-in-out 200ms;
}

.behance:hover {
  background-color: var(--behance);
  font-size: 27px;
  transition: ease-in-out 200ms;
}

.dribbble:hover {
  background-color: var(--dribbble);
  font-size: 27px;
  transition: ease-in-out 200ms;
}

.github:hover {
  background-color: var(--github);
  font-size: 27px;
  transition: ease-in-out 200ms;
}

.session-title {
  position: relative;
  height: 100px;
}

.session-title h2 {
  width: 100%;
  position: absolute;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
}

#outline {
  z-index: -1;
  position: absolute;
  margin-top: -30px;
  color: var(--primary-color);
  background: linear-gradient(#ffffff12, #000000);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

.clip-shape {
  width: 90px;
  height: 90px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  position: relative;
}

.hover-div {
  width: 90px;
  height: 90px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.shape {
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--skill-outline);
  transition: 200ms;
}

.inner-shape {
  width: 65px;
  height: 65px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--skill-outline);
  border-bottom: 1px solid var(--skill-outline);
  transition: 200ms;
}

.skill-icon {
  transform: rotate(-45deg);
  font-size: 40px;
  position: absolute;
  z-index: 1;
  color: var(--skill-outline);
  transition: 200ms;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoshop {
  background-size: cover;
  background-image: url(../img/photoshop.svg);
}

.figma {
  background-size: cover;
  background-image: url(../img/figma.svg);
}

.illustrator {
  background-size: cover;
  background-image: url(../img/illustrator.svg);
}

.after-effects {
  background-size: cover;
  background-image: url(../img/aftereffects.svg);
}

.vscode {
  background-size: cover;
  background-image: url(../img/vscode.svg);
}

.bootstrap {
  background-size: cover;
  background-image: url(../img/bootstrap.svg);
}

.premiere {
  background-size: cover;
  background-image: url(../img/premiere.svg);
}

.design-thinking {
  background-size: cover;
  background-image: url(../img/designthinking.svg);
}

.prototype {
  background-size: cover;
  background-image: url(../img/prototype.svg);
}

.skill-name {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.hover-div:hover .shape {
  background-color: var(--magenta);
  border: 1px solid var(--primary-text-color);
  transition: 200ms;
  box-shadow: 0px 0px 34px 0px #ff3c77;
}

.hover-div:hover .inner-shape {
  background-color: var(--magenta);
  border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
  transform: rotate(90deg);
  transition: 200ms;
}

.hover-div:hover .skill-icon {
  font-size: 45px;
  z-index: 2;
  width: 40px;
  height: 40px;
  transition: 200ms;
  color: var(--primary-text-color);
}

.hover-div:hover .photoshop {
  background-image: url(../img/photoshop-hover.svg);
}

.hover-div:hover .figma {
  background-image: url(../img/figma-hover.svg);
}

.hover-div:hover .illustrator {
  background-image: url(../img/illustrator-hover.svg);
}

.hover-div:hover .after-effects {
  background-image: url(../img/aftereffects-hover.svg);
}

.hover-div:hover .vscode {
  background-image: url(../img/vscode-hover.svg);
}

.hover-div:hover .bootstrap {
  background-image: url(../img/bootstrap-hover.svg);
}

.hover-div:hover .premiere {
  background-image: url(../img/premiere-hover.svg);
}

.hover-div:hover .design-thinking {
  background-image: url(../img/designthinking-hover.svg);
}

.hover-div:hover .prototype {
  background-image: url(../img/prototype-hover.svg);
}

.skill-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-text p {
  font-weight: 200;
  line-height: 170%;
}

#contact-text p {
  font-weight: 200;
  line-height: 170%;
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.resume-icon img {
  display: flex;
  width: 150px;
}

.resume-button {
  background-color: var(--magenta);
  height: 35px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 200;
  opacity: 1;
  cursor: pointer;
  transition: 200ms;
  color: var(--primary-text-color);
}

.resume-button:hover {
  box-shadow: 0px 0px 10px 0px var(--magenta);
  transition: 200ms;
  height: 40px;
  width: 115px;
}

.resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-text {
  width: fit-content;
  margin-left: 30px;
}

.resume-box {
  min-height: fit-content;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-name {
  margin-top: 10px;
}

.footer-disclaimer {
  margin-bottom: 10px;
}

.footer-logo {
  filter: grayscale(100%);
}

#skills {
  scroll-margin-top: 170px;
}

#resume {
  scroll-margin-top: 500px;
}

#contact {
  scroll-margin-top: 100px;
}
