@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap");

body {
  background-color: var(--primary-color);
  padding-top: 20px;
  font-family: "Outfit", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  margin: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 25px;
}

h4 {
  text-align: center;
  margin: 20px;
  font-size: 18px;
}

h5 {
  color: var(--magenta);
  font-size: 18px;
  font-weight: 500;
}

.text-button {
  text-align: right;
  cursor: pointer;
}

.accent-color {
  color: var(--accent-text-color);
}

.accent-size {
  font-size: 75px;
  font-weight: 900;
}

.box {
  background-color: var(--secondary-color);
  /* border: 0.5px solid var(--border-color); */
  border-radius: 30px;
  background-clip: content-box;
  padding: 10px;
}

.big {
  min-height: 276px;
}

.xbig {
  min-height: 360px;
}

.medium {
  min-height: 239px;
}

.small {
  min-height: 79px;
}

.my-picture {
  height: 436px;
  background-image: url(../img/portrait.jpg);
  background-position: center center;
  background-size: cover;
}

.years {
  display: flex;
  align-items: center;
  justify-content: center;
}

.port-thumb {
  height: 230px;
  background-clip: content-box;
  border-radius: 15px;
}

.thumb-1 {
  background-image: url(../img/thumb.jpg);
  background-position: center center;
  background-size: cover;
}

.thumb-2 {
  background-image: url(../img/thumb.jpg);
  background-position: center center;
  background-size: cover;
}

.thumb-3 {
  background-image: url(../img/thumb.jpg);
  background-position: center center;
  background-size: cover;
}

.gallery {
  margin: 0px;
  margin: 0px 20px 0px 20px;
}

.ciano {
  background-color: var(--ciano);
}

.orange {
  background-color: var(--orange);
}

.magenta {
  background-color: var(--magenta);
}

.inner-container {
  margin: 20px;
}

.name {
  font-size: 31px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.infos {
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.menu {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: flex-end;
}

#result {
  max-width: 100%;
  text-align: right;
  font-size: 16px;
}

.inner-subtitle {
  color: var(--secondary-text-color);
  font-size: 16px;
}

.interest {
  text-align: center;
}

.interest i {
  font-size: 38px;
}

.interest-list {
  margin-top: 50px;
}

.elipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: var(--third-color);
  border-radius: 50%;
  background-clip: content-box;
}

.social-elipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--third-color);
  border-radius: 50%;
  background-clip: content-box;
  cursor: pointer;
  transition: 200ms;
}

.social {
  margin: 0px 5px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.linkedin:hover {
  background-color: var(--linkedin);
}

.behance:hover {
  background-color: var(--behance);
}

.dribbble:hover {
  background-color: var(--dribbble);
}

.github:hover {
  background-color: var(--github);
}

.session-title {
  position: relative;
  height: 100px;
}

.session-title h2 {
  width: 100%;
  position: absolute;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
}

#outline {
  z-index: -1;
  position: absolute;
  margin-top: -20px;
  color: var(--primary-color);
  background: linear-gradient(#ffffff30, #0f0f0f00);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

.clip-shape {
  width: 90px;
  height: 90px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  position: relative;
}

.hover-div {
  width: 90px;
  height: 90px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.shape {
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--skill-outline);
  transition: 200ms;
}

.inner-shape {
  width: 65px;
  height: 65px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--skill-outline);
  border-bottom: 1px solid var(--skill-outline);
  transition: 200ms;
}

.skill-icon {
  transform: rotate(-45deg);
  font-size: 40px;
  position: absolute;
  z-index: 1;
  color: var(--skill-outline);
  transition: 200ms;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoshop {
  background-size: cover;
  background-image: url(../img/photoshop.svg);
}

.figma {
  background-size: cover;
  background-image: url(../img/figma.svg);
}

.illustrator {
  background-size: cover;
  background-image: url(../img/illustrator.svg);
}

.after-effects {
  background-size: cover;
  background-image: url(../img/aftereffects.svg);
}

.vscode {
  background-size: cover;
  background-image: url(../img/vscode.svg);
}

.bootstrap {
  background-size: cover;
  background-image: url(../img/bootstrap.svg);
}

.skill-name {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.hover-div:hover .shape {
  background-color: var(--magenta);
  border: 1px solid var(--primary-text-color);
  transition: 200ms;
  box-shadow: 0px 0px 34px 0px #ff3c77;
}

.hover-div:hover .inner-shape {
  background-color: var(--magenta);
  border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
  transform: rotate(90deg);
  transition: 200ms;
}

.hover-div:hover .skill-icon {
  font-size: 45px;
  z-index: 2;
  width: 40px;
  height: 40px;
  transition: 200ms;
  color: var(--primary-text-color);
}

.hover-div:hover .photoshop {
  background-image: url(../img/photoshop-hover.svg);
}

.hover-div:hover .figma {
  background-image: url(../img/figma-hover.svg);
}

.hover-div:hover .illustrator {
  background-image: url(../img/illustrator-hover.svg);
}

.hover-div:hover .after-effects {
  background-image: url(../img/aftereffects-hover.svg);
}

.hover-div:hover .vscode {
  background-image: url(../img/vscode-hover.svg);
}

.hover-div:hover .bootstrap {
  background-image: url(../img/bootstrap-hover.svg);
}

.skill-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
